
.projectHolder {
width: 95%; 
margin: auto;
}


.projectCont {
  background-color:rgba(232, 240, 255, .6);
width: 50%; 
padding: 2% 0 ;
margin: 5% 0;
border-radius: 25% 100%;

}

.projectCont img {
  width: 80%;
  float: right;
}


.projectCont:nth-of-type(2){
  margin-left: 50%;
  border-radius: 100% 25%;
}

.projectHolder h1{
text-align: center;
}